<h2>Log in</h2>

<%= form_for(:session, :url => login_path) do |f| %>
	<div class="field">
		<%= f.label :email %><br />
		<%= f.text_field :email, class: 'form-control' %>
	  </div>
	  <div class="field">
		<%= f.label :password %><br />
		<%= f.password_field :password, class: 'form-control'  %>
	  </div>
	  
	  <div class="field">
		<%= f.label :remember_me, class: "checkbox inline" do %>
			<%= f.check_box :remember_me %>
			<span>Remember me on this computer </span>
		<% end %>
	  </div>
	  
	  <div class="actions">
		<%= f.submit "Log in", class: "btn btn-primary" %>
	  </div>
<% end %>

<p>New user? <%= link_to "Sign up now!", signup_path %></p>